.actions_icons {
    padding-top: 16px !important;
}

.marco_punto_venta {
    max-width: 90%;
    padding-left: 10%;
    padding-top: 10%;
}

.all_space {
    width: 100%;
    height: 37.4em;
}

.fincer {
    position: absolute;
}

.article-finder {
    font-size: 13px;
}

.article-finder-box {
    height: 93px;
    line-height: normal;
    padding-top: 9px;
    padding-bottom: 0px;
    margin-top: -17px;
}

.salebox-resume {
    text-align: right;
    padding-right: 10%;
    width: 110%;
}

.selected {
    background-color: darkgrey;
}

.scroll-find-arttticles {
    max-height: 43em;
    overflow: auto;
}

.add-new-article-line {
    top: 32%;
    left: 15%;
    position: fixed;
}

.add-new-article-line {
    top: 32%;
    left: 15%;
    position: fixed;
}

.add-new-article-line:hover {
    top: 32%;
    left: 15%;
    position: fixed;
}

.busqueda-agregar-articulo {
    z-index: 100;
}